
# PlanAhead Generated IO constraints 

NET "DIG_OUT[7]" IOSTANDARD = LVCMOS33;
NET "DIG_OUT[6]" IOSTANDARD = LVCMOS33;
NET "DIG_OUT[5]" IOSTANDARD = LVCMOS33;
NET "DIG_OUT[4]" IOSTANDARD = LVCMOS33;
NET "DIG_OUT[3]" IOSTANDARD = LVCMOS33;
NET "DIG_OUT[2]" IOSTANDARD = LVCMOS33;
NET "DIG_OUT[1]" IOSTANDARD = LVCMOS33;
NET "DIG_OUT[0]" IOSTANDARD = LVCMOS33;
NET "DISPLAY_SEL[3]" IOSTANDARD = LVCMOS33;
NET "DISPLAY_SEL[2]" IOSTANDARD = LVCMOS33;
NET "DISPLAY_SEL[1]" IOSTANDARD = LVCMOS33;
NET "DISPLAY_SEL[0]" IOSTANDARD = LVCMOS33;
NET "DIG_IN[3]" IOSTANDARD = LVCMOS33;
NET "DIG_IN[2]" IOSTANDARD = LVCMOS33;
NET "DIG_IN[1]" IOSTANDARD = LVCMOS33;
NET "DIG_IN[0]" IOSTANDARD = LVCMOS33;
NET "CLK" IOSTANDARD = LVCMOS33;
NET "START" IOSTANDARD = LVCMOS33;
NET "RESET" IOSTANDARD = LVCMOS33;
NET "LOAD" IOSTANDARD = LVCMOS33;
NET "PAUSE" IOSTANDARD = LVCMOS33;
NET "DIG_OUT[7]" DRIVE = 12;
NET "DIG_OUT[6]" DRIVE = 12;
NET "DIG_OUT[5]" DRIVE = 12;
NET "DIG_OUT[4]" DRIVE = 12;
NET "DIG_OUT[3]" DRIVE = 12;
NET "DIG_OUT[2]" DRIVE = 12;
NET "DIG_OUT[1]" DRIVE = 12;
NET "DIG_OUT[0]" DRIVE = 12;
NET "DISPLAY_SEL[3]" DRIVE = 12;
NET "DISPLAY_SEL[2]" DRIVE = 12;
NET "DISPLAY_SEL[1]" DRIVE = 12;
NET "DISPLAY_SEL[0]" DRIVE = 12;
NET "DIG_IN[3]" DRIVE = 12;
NET "DIG_IN[2]" DRIVE = 12;
NET "DIG_IN[1]" DRIVE = 12;
NET "DIG_IN[0]" DRIVE = 12;
NET "CLK" DRIVE = 12;
NET "START" DRIVE = 12;
NET "RESET" DRIVE = 12;
NET "LOAD" DRIVE = 12;
NET "PAUSE" DRIVE = 12;
NET "DIG_OUT[7]" SLEW = SLOW;
NET "DIG_OUT[6]" SLEW = SLOW;
NET "DIG_OUT[5]" SLEW = SLOW;
NET "DIG_OUT[4]" SLEW = SLOW;
NET "DIG_OUT[3]" SLEW = SLOW;
NET "DIG_OUT[2]" SLEW = SLOW;
NET "DIG_OUT[1]" SLEW = SLOW;
NET "DIG_OUT[0]" SLEW = SLOW;
NET "DISPLAY_SEL[3]" SLEW = SLOW;
NET "DISPLAY_SEL[2]" SLEW = SLOW;
NET "DISPLAY_SEL[1]" SLEW = SLOW;
NET "DISPLAY_SEL[0]" SLEW = SLOW;
NET "DIG_IN[3]" SLEW = SLOW;
NET "DIG_IN[2]" SLEW = SLOW;
NET "DIG_IN[1]" SLEW = SLOW;
NET "DIG_IN[0]" SLEW = SLOW;
NET "CLK" SLEW = SLOW;
NET "START" SLEW = SLOW;
NET "RESET" SLEW = SLOW;
NET "LOAD" SLEW = SLOW;
NET "PAUSE" SLEW = SLOW;

# PlanAhead Generated physical constraints 

NET "DIG_OUT[7]" LOC = E14;
NET "DIG_OUT[6]" LOC = G13;
NET "DIG_OUT[5]" LOC = N15;
NET "DIG_OUT[4]" LOC = P15;
NET "DIG_OUT[3]" LOC = R16;
NET "DIG_OUT[2]" LOC = F13;
NET "DIG_OUT[1]" LOC = N16;
NET "DIG_OUT[0]" LOC = P16;
NET "DISPLAY_SEL[3]" LOC = E13;
NET "DISPLAY_SEL[2]" LOC = F14;
NET "DISPLAY_SEL[1]" LOC = G14;
NET "DISPLAY_SEL[0]" LOC = D14;
NET "DIG_IN[0]" LOC = F12;
NET "DIG_IN[1]" LOC = G12;
NET "DIG_IN[2]" LOC = H14;
NET "DIG_IN[3]" LOC = H13;
NET "RESET" LOC = L14;
NET "START" LOC = L13;
NET "PAUSE" LOC = M14;
NET "LOAD" LOC = M13;
NET "CLK" LOC = T9;
